name: Release Image
on: [push, pull_request]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - uses: actions/checkout@v2

      - run: go run ./lib/utils/docker
        env:
          ROD_GITHUB_ROBOT: ${{secrets.ROD_GITHUB_ROBOT}}

      - uses: actions/upload-artifact@v2
        with:
          name: review-fonts-docker
          path: tmp/fonts.pdf

      - uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: cdp-log-docker
          path: tmp/cdp-log
