name: Test
on:
  push:

  pull_request:

  schedule:
    - cron: '0 0 * * *'

jobs:

  linux:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/setup-node@v1        

    - uses: actions/setup-go@v2
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: setup
      run: |
        (cd ~ && GO111MODULE=on go get github.com/ysmood/kit/cmd/godev)
        go generate

    - name: test
      run: |
        godev -l -m 94

    - uses: codecov/codecov-action@v1

  others:

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:

    - uses: actions/setup-go@v2
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: test
      run: go test

  docker:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: test
      run: |
        docker build -t ysmood/rod -f lib/docker/Dockerfile .
        docker build -t test -f lib/docker/test.Dockerfile .
        docker run -v $(pwd):/t -w /t test