name: Test
on:
  push:

  schedule:
    - cron: '0 0 * * *'

jobs:

  linux:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/setup-node@v1        

    - uses: actions/setup-go@v1
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: setup
      run: curl -L https://git.io/fjaxx | repo=ysmood/kit bin=godev ver=v0.22.2 sh
 
    - name: test
      run: |
        go generate
        godev -l -m 90

    - uses: codecov/codecov-action@v1

  others:

    strategy:
      matrix:
        os: [macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:

    - uses: actions/setup-go@v1
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: test
      run: go test

  docker:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: test
      run: |
        docker build -t ysmood/rod -f lib/docker/Dockerfile .
        docker build -t test -f lib/docker/test.Dockerfile .
        docker run -v $(pwd):/t -w /t test