<html>
<head>
    <title>Rod Monitor - Pages</title>
</head>
<body>
    <h3>Page List</h3>

    {{range .list}}
    <h4>
        <a href='/page/{{.TargetID}}?rate=1000' title="{{.URL}}">{{.Title}}</a>
    </h4>
    {{end}}
</body>
</html>