<html>
    <head><title>Rod Monitor - {{.id}}</title></head>
    <body></body>
    <script>
        let img = document.createElement('img')
        img.onload = () => setTimeout(update, {{.rate}})
        img.onerror = () => alert('error loading screenshots')
        function update() {
            img.src = '/screenshot/{{.id}}?' + new Date().getTime()
        }
        document.body.appendChild(img)
        update()
    </script>
</html>